header {
    background-color: #20b2aa;
    padding: 20px;
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', serif;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
}